{{ form_start(form) }}
    <div class="row">
        <div class="col-md-12">{{ form_row(form.name) }}</div>
        <div class="col-md-6">{{ form_row(form.author) }}</div>
        <div class="col-md-6">{{ form_row(form.date) }}</div>
        <div class="col-md-12">{{ form_row(form.file) }}</div>
        <div class="col-md-12">
            <button class="btn btn-outline-success btn-sm mb-2">{{ button_label|default('save')|trans|capitalize }}</button>
        </div>
    </div>
{{ form_end(form) }}
