{% extends 'base.html.twig' %}

{% block body %}
    <h1>Diploma</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ diploma.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ diploma.name }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ diploma.author }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ diploma.date ? diploma.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>File</th>
                <td>{{ diploma.file }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ diploma.createdAt ? diploma.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ diploma.updatedAt ? diploma.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    {% include 'components/_buttons.thml.twig' with {
        'id': diploma.id,
        'edit': 'ro_diploma_edit',
        'back': 'ro_diploma_index',
        'delete': 'ro_diploma_delete'
    } %}
{% endblock %}
