{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h3 class="pb-3 mb-4 font-weight-bold border-bottom">
                {{ 'Перегляд диплому'|trans|capitalize }}
            </h3>
            <div class="row">
                <div class="col-md-12">
                    <div class="card flex-md-row pb-4 mb-4">
                        <div class="card-body d-flex flex-column align-items-start">
                            <h3 class="mb-2 text-dark">
                                {{ diploma.name }}
                            </h3>
                            <div class="mb-3 text-muted">
                                {{ diploma.date ? diploma.date|date('M d, Y') }} <br />
                                {{ diploma.author }}
                            </div>
                            {% if diploma.realFilename %}
                                <div class="ro-show-file__wrapper">
                                    <a class="text-muted"
                                       href="{{ path('ro_diploma_download', {'id': diploma.id}) }}"
                                       title="{{ 'download_file'|trans }}">
                                        {{ diploma.realFilename }}
                                    </a>
                                    <div class="ro-show-file"></div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'components/_buttons.thml.twig' with {
        'id': diploma.id,
        'edit': 'ro_diploma_edit',
        'back': 'ro_diploma_index',
        'delete': 'ro_diploma_delete'
    } %}
{% endblock %}
