{% extends 'base.html.twig' %}

{% block body %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="pb-3 mb-4 font-weight-bold border-bottom">
                    Публікації
                </h3>

                {% for publication in publications %}
                    <div class="border-bottom pb-3 mb-4 row">
                        <h5 class="font-weight-bold col-md-12">{{ publication.name }}</h5>
                        <div class="col-md-10">
                            <p class="text-muted">
                                {{ publication.date ? publication.date|date('D d/M/Y') : '' }} <br />
                                {{ publication.coAuthorsSimple }}
                            </p>
                            <div>Місце публікації: {{ publication.place }}</div>
                            {% if publication.pages %}
                                <div>Сторінки: {{ publication.pages }}</div>
                            {% endif %}
                            <div>{{ publication.notes }}</div>
                        </div>

                        <p class="col-md-2">
                            {% include 'components/_buttons.thml.twig' with {
                                'id': publication.id,
                                'edit': 'ro_publication_edit',
                                'show': 'ro_publication_show'
                            } %}
                        </p>
                    </div>
                {% endfor %}

                {% include 'components/_buttons.thml.twig' with {
                    'create': 'ro_publication_new'
                } %}
            </div>
        </div>
    </main>
{% endblock %}
