{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h3 class="pb-3 mb-4 font-weight-bold border-bottom">
                {{ 'Перегляд публікації'|trans|capitalize }}
            </h3>
            <div class="row">
                <div class="col-md-12">
                    <div class="card flex-md-row mb-4">
                        <div class="card-body d-flex flex-column align-items-start">
                            <h3 class="mb-2 text-dark">
                                {{ publication.name }}
                            </h3>
                            <div class="mb-3 text-muted">
                                {{ publication.date ? publication.date|date('M d, Y') }} <br />
                                {% for author in publication.coAuthors %}
                                    {{ author }}
                                {% endfor %}
                                {{ publication.coAuthorsSimple }}
                            </div>
                            <p class="card-text mb-auto">
                                {{ 'Place'|trans ~ ': ' ~ publication.place }}
                            </p>
                            <p class="card-text mb-auto">
                                {{ 'Pages'|trans ~ ': ' ~ publication.pages }}
                            </p>
                            <p class="card-text mb-auto">
                                {{ publication.notes }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'components/_buttons.thml.twig' with {
        'id': publication.id,
        'edit': 'ro_publication_edit',
        'back': 'ro_publication_index',
        'delete': 'ro_publication_delete'
    } %}
{% endblock %}
