<div class="card flex-md-row pb-4 mb-4">
    <div class="card-body">

        <div class="ro-btn-absolute--wrapper">
            <h4 class="mb-4 text-dark">{{ 'topics'|trans|capitalize }}</h4>
            <a href="{{ path('ro_topic_new', {'id': discipline.id}) }}"
               class="btn btn-sm btn-outline-primary mb-2 ro-btn-absolute">
                {{ 'add'|trans|capitalize ~ ' ' ~ 'topic.2'|trans }}
            </a>
        </div>

        {% for topic in topics %}
            {% set first_loop_index = loop.index %}
            <div class="p-1 mb-1">
                {{ first_loop_index ~ '. ' ~ topic.name }}

                {% include 'components/_buttons_icon.html.twig' with {
                    'id': topic.id,
                    'edit': path('ro_topic_edit', {'id': topic.id}),
                    'add': path('ro_subtopic_new', {'id': topic.id}),
                    'delete': path('ro_topic_delete', {'id': topic.id})
                } %}
            </div>
            {% for subtopic in topic.topics %}
                <div class="p-1 mb-1 ml-4">
                    {{ first_loop_index ~ '. ' ~ loop.index ~ '. ' ~ subtopic.name }}

                    {% include 'components/_buttons_icon.html.twig' with {
                        'id': subtopic.id,
                        'edit': path('ro_topic_edit', {'id': subtopic.id}),
                        'delete': path('ro_topic_delete', {'id': subtopic.id})
                    } %}
                </div>
            {% endfor %}
        {% else %}
            <div class="m-2 text-center text-muted">
                {{ 'topics_empty'|trans }}
            </div>
        {% endfor %}

    </div>
</div>
