{{ form_start(form) }}
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.name) }}
            {{ form_row(form.overview) }}
            {{ form_row(form.goal) }}
            {{ form_row(form.task) }}
        </div>
{#        <div class="col-md-4">#}
{#            <h5 class="text-center">{{ 'Характеристика груп та потоків'|trans }}</h5>#}
{#            {{ form_row(form.department) }}#}
{#            {{ form_row(form.course) }}#}
{#            {{ form_row(form.groupCodes) }}#}
{#        </div>#}

        <div class="col-md-12">
            <button class="btn btn-outline-success btn-sm mb-2">
                {{ button_label|default('save')|trans|capitalize }}
            </button>
        </div>
    </div>
{{ form_end(form) }}
