<h3 class="pb-3 mb-4 font-weight-bold border-bottom">
    {{ 'menu.work_plan'|trans|capitalize }}
</h3>

{% for plan in individual_plans %}
    <div class="border-bottom pb-3 mb-4 row">
        <h5 class="font-weight-bold col-md-12">
            <a href="{{ path('ro_individual_plan_show', {'id': plan.id}) }}" class="text-dark">
                {{ '%06d'|format( plan.id) ~ " [" ~ plan.years ~ "]" }}
            </a>
        </h5>
        <div class="col-md-10">
            <p class="text-muted">
                {{ plan.createdAt ? plan.createdAt|date('D d/M/Y') : '' }} <br />
            </p>
            <h6 class="font-weight-bold">{{ 'discipline_semester_1'|trans }}</h6>

            <div class="ro-group">
                {% for v in plan.individualPlansDisciplines|filter(v => v.semester == 1) %}
                    <a href="{{ path('ro_discipline_show', {'id': v.discipline.id}) }}" class="ro-group--link">
                        {{ v.discipline.name }}
                    </a>
                {% endfor %}
            </div>
            <h6 class="font-weight-bold">{{ 'discipline_semester_2'|trans }}</h6>
            <div class="ro-group">
                {% for v in plan.individualPlansDisciplines|filter(v => v.semester == 2) %}
                    <a href="{{ path('ro_discipline_show', {'id': v.discipline.id}) }}" class="ro-group--link">
                        {{ v.discipline.name }}
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-2">
            {% include 'components/_buttons.html.twig' with {
                'id': plan.id,
                'edit': 'ro_individual_plan_edit',
                'show': 'ro_individual_plan_show',
                'delete': 'ro_individual_plan_delete'
            } %}
            <a href="{{ path('ro_generate_work_plan', {id: plan.id}) }}" class="btn btn-outline-info btn-sm mb-2">
                {{ 'generate'|trans|capitalize ~ ' xlsx' }}
            </a>
        </div>
    </div>
{% endfor %}
