{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h3 class="pb-3 mb-4 font-weight-bold border-bottom">
                {{ 'Перегляд індивідуального робочого плану'|trans|capitalize }}
            </h3>
            <div class="row">
                <div class="col-md-12">
                    <div class="card flex-md-row pb-4 mb-4">
                        <div class="card-body d-flex flex-column align-items-start">
                            <h3 class="mb-2 text-dark">
                                {{ plan.years }}
                            </h3>
                            <div class="mb-3 text-muted">
                                {{ plan.createdAt ? plan.createdAt|date('M d, Y') }}
                            </div>
                            <h6 class="font-weight-bold">{{ 'discipline_semester_1'|trans }}</h6>

                            <div class="ro-group">
                                {% for v in plan.individualPlansDisciplines|filter(v => v.semester == 1) %}
                                    <a href="{{ path('ro_discipline_show', {'id': v.discipline.id}) }}" class="ro-group--link">
                                        {{ v.discipline.name }}
                                    </a>
                                {% endfor %}
                            </div>
                            <h6 class="font-weight-bold">{{ 'discipline_semester_2'|trans }}</h6>
                            <div class="ro-group">
                                {% for v in plan.individualPlansDisciplines|filter(v => v.semester == 2) %}
                                    <a href="{{ path('ro_discipline_show', {'id': v.discipline.id}) }}" class="ro-group--link">
                                        {{ v.discipline.name }}
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'components/_buttons.html.twig' with {
        'id': plan.id,
        'edit': 'ro_individual_plan_edit',
        'back': 'ro_individual_plan_index',
        'delete': 'ro_individual_plan_delete'
    } %}
{% endblock %}
